/target/
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
/.flatpak-builder
/.flatpak/flatpak-builder
/.flatpak/finalized-repo
/.flatpak/ostree-repo
/.flatpak/repo
/flatpak_app
/src/config.rs
*.ui.in~
*.ui~
/vendor
/.vscode

/subprojects/blueprint-compiler
